/* header.module.css */

.header {
  /* background-color: #3300ff; สีพื้นหลังของ header */
  padding: 10px 0; /* กำหนด padding บน-ล่าง */
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1); /* เงา */
  padding-bottom: 0;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* จัดลิงก์ให้อยู่ห่างกันทั้งหมด */
  align-items: center;
  background-color: #666866; /* สีพื้นหลังของ navbar */
  /*border-top: 2px solid #dddddd;  เส้นขอบด้านบน */
  padding: 5px 20px; /* กำหนด padding บน-ล่างและซ้าย-ขวา */
  
}


.navbar-menu a {
  font-size: 10px;
  text-decoration: none;
  color: #ABCE1A; /* สีข้อความ */
}

.logo {
  width: 50px; /* ขนาดโลโก้ */
  margin-bottom: 5px;
}
